# dependencies
node_modules/
.pnp
.pnp.js
package-lock.json
**/package-lock.json

# build outputs
dist/
build/
storybook-static/

# storybook
*.log
.cache/

# environment
.env
.env.local
.env.*.local

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
*.swp

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json.backup